{% comment %} {% extends 'hospital/doctor_base.html' %}
{% load static %}
{% block content %}
<br><br> {% endcomment %}



<h1>Create Prescription</h1>

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Create</button>
</form>
{% comment %} 

<form method="post">
  {% csrf_token %}
  <div class="container register-form">
    <div class="form">
      <div class="note">
        <p>Create Prescription</p>
      </div>
      <div class="form-content">
        <div class="row">
          <div class="col-md-12">
            <a>Choose the prescription medicine for Patient</a>
            <div class="form-group">
              {% render_field form.medicine class="form-control" placeholder="Enter the Medicine" %}
            </div>
            <a>Choose the Doctor you want To See</a>
            <div class="form-group">
              {% render_field appointmentForm.doctorId class="form-control" placeholder="doctor" %}
            </div>
            <div class="form-group">
              <a>Choose the Day You Want to Book with The Doctor</a>
              {% render_field appointmentForm.date class="form-control" type="date" %}
            </div>
            <a>Appointment Start Time</a>
            <div class="form-group">
              {% render_field appointmentForm.start_time class="form-control"  type="time" placeholder="Appointment Start Time" %}
            </div>
            <div class="form-group">
              <a>Appointment End Time</a>
              {% render_field appointmentForm.end_time class="form-control"  type="time" placeholder="Appointment End Time" %}
            </div>


          </div>

        </div>
        <button type="submit" class="btnSubmit"  style="background: #106e3e">Book</button>
      </div>
    </div>
  </div>
</form> {% endcomment %}