{% extends 'hospital/patient_base.html' %}
{% block content %}
{% load static %}

  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  
    <style media="screen">
      a:link {
        text-decoration: none;
      }
  
      h6 {
        text-align: center;
      }
  
      .row {
        margin: 100px;
      }
    </style>
    
  </head>

  <div class="container">
    
    {% if prescriptions %}
    {% if medicines %}
      <div class="panel panel-primary">
        <div class="panel-heading" style="background-color:#106e3e">
          <h6 class="panel-title"> Your Prescription List</h6>
        </div>
        <table class="table table-hover" id="dev-table">
          <thead>
            <tr>
              <th>Medicine Name</th>
              <th>Dosage</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Additional Info</th>
            </tr>
          </thead>
            
          {% for prescription in prescriptions %}
            <tr>
              <td>
                {% for medicine in medicines %}
                  {% if medicine.id == prescription.medicine_id %}
                    {{ medicine.medication_name }}
                  {% endif %}
                {% endfor %}
              </td>
              <td>{{ prescription.dosage }}</td>
              <td>{{ prescription.start_date }}</td>
              <td>{{ prescription.end_date }}</td>
              <td>{{ prescription.additional_info }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    {%else%}
      <br><br><br>
      <h4 style="text-align: center;color: red;">No Prescriptions found !!!</h4>
    {% endif %}
    {% endif %}

  </div>


{% endblock content %}