{% extends 'hospital/admin_base.html' %}
{% block content %}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>
<!--
written By : Brian Godwin
 
-->
<div class="container">
  <div class="panel panel-primary"  style="border-color:#106e3e">
    <div class="panel-heading" style="background-color:#106e3e">
      <h6 class="panel-title">Appointments</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Doctor Name</th>
          <th>Patient Name</th>
          <th>Description</th>
          <th>Date</th>
          <th>Starting Time</th>
          <th>Ending Time</th>
        </tr>
      </thead>
      {% for a in appointments %}
      <tr>
          <td>
              {% for d in doctors %}
                {% if a.doctor == d.user_id %}
                  {{d}}
                {% endif %}
              {% endfor %}
          </td>
          <td>
            {% for p in patients %}
              {% if a.patient == p.user_id %}
                {{p}}
              {% endif %}
            {% endfor %}
          </td>
          <td>{{a.description}}</td>
          <td>{{a.date}}</td>
          <td>{{a.start_time}}</td>
          <td>{{a.end_time}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
<!--
developed By : Brian Godwin
-->

{% endblock content %}
